
.container {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="date"],
input[type="text"],
input[type="number"],
button {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#expenseList {
    margin-top: 20px;
    text-align: left;
}

#totalAmount,
#categoryBreakdown {
    margin-top: 20px;
    font-weight: bold;
}
